.personal-entry
  .signup-page-header
    %header.personal-entry__header
      = render "layouts/entry-header"
      %nav.progress-bar.signup-bar
        %ol.clearfix
          %li.through
            会員情報
            .progress-status
          %li.through
            電話番号認証
            .progress-status
          %li.through
            住所入力
            .progress-status
          %li.through
            支払い方法
            .progress-status
          %li.active
            完了
            .progress-status
  %main.personal-entry-main
    %section.entry-container
      %h2.entry-container__head
        会員登録完了
      .single-inner.entry-form
        .person-content
          = form_for @registered do |f|
            %ul
              %li.finish-registration
                %p ありがとうございます。
                %br/
                %p 会員登録が完了しました。
              %li.actions
                = link_to root_path do
                  = f.submit "メルカリを始める", class:"btn-default btn-red"
  = render "layouts/entry-footer"