= render 'layouts/header'

.top-page
  - breadcrumb :search, @search_word
  = render 'render/bread-crumbs'
  .main-container
    .main-container__heading
    - if (@item.length != 0)
      %section.common-container.clearfix
        %h3.common-container__title
          %p 「#{@search_word}」の検索結果
          .wrapper.clearfix
            = render partial: 'items/pickup', collection: @item, as: :item
          .more

= render 'layouts/footer'
= render 'render/footer-sell-btn'
