.items-box-container__content
  %section.items-box-container__content--item
    = link_to '', '/'
    %figure.items-box-photo
      = image_tag "https://static.mercdn.net/thumb/photos/m73486681919_1.jpg?1557818655",class: 'item-image', alt: ''
    .items-box-body
      %h3.items-box-body__name.font-2 【完売品】supreme Tonal S Logo Hooded Sweat
      .item-box-num
        .item-box-price.font-5 ¥24,500
        .font-2
          %i.far.fa-heart
          %span 15
      %p.items-box-body__tax （税込）

  %section.items-box-container__content--item
    = link_to '', '/'
    %figure.items-box-photo
      = image_tag "https://static.mercdn.net/thumb/photos/m73486681919_1.jpg?1557818655",class: 'item-image', alt: ''
    .items-box-body
      %h3.items-box-body__name.font-2 【完売品】supreme Tonal S Logo Hooded Sweat
      .item-box-num
        .item-box-price.font-5 ¥24,500
        .font-2
          %i.far.fa-heart
          %span 15
      %p.items-box-body__tax （税込）

  %section.items-box-container__content--item
    = link_to '', '/'
    %figure.items-box-photo
      = image_tag "https://static.mercdn.net/thumb/photos/m73486681919_1.jpg?1557818655",class: 'item-image', alt: ''
    .items-box-body
      %h3.items-box-body__name.font-2 【完売品】supreme Tonal S Logo Hooded Sweat
      .item-box-num
        .item-box-price.font-5 ¥24,500
        .font-2
          %i.far.fa-heart
          %span 15
      %p.items-box-body__tax （税込）

  %section.items-box-container__content--item
    = link_to '', '/'
    %figure.items-box-photo
      = image_tag "https://static.mercdn.net/thumb/photos/m73486681919_1.jpg?1557818655",class: 'item-image', alt: ''
    .items-box-body
      %h3.items-box-body__name.font-2 【完売品】supreme Tonal S Logo Hooded Sweat
      .item-box-num
        .item-box-price.font-5 ¥24,500
        .font-2
          %i.far.fa-heart
          %span 15
      %p.items-box-body__tax （税込）

  %section.items-box-container__content--item
    = link_to '', '/'
    %figure.items-box-photo
      = image_tag "https://static.mercdn.net/thumb/photos/m73486681919_1.jpg?1557818655",class: 'item-image', alt: ''
    .items-box-body
      %h3.items-box-body__name.font-2 【完売品】supreme Tonal S Logo Hooded Sweat
      .item-box-num
        .item-box-price.font-5 ¥24,500
        .font-2
          %i.far.fa-heart
          %span 15
      %p.items-box-body__tax （税込）

  %section.items-box-container__content--item
    = link_to '', '/'
    %figure.items-box-photo
      = image_tag "https://static.mercdn.net/thumb/photos/m73486681919_1.jpg?1557818655",class: 'item-image', alt: ''
    .items-box-body
      %h3.items-box-body__name.font-2 【完売品】supreme Tonal S Logo Hooded Sweat
      .item-box-num
        .item-box-price.font-5 ¥24,500
        .font-2
          %i.far.fa-heart
          %span 15
      %p.items-box-body__tax （税込）

      