.wrapper.clearfix
  %section.section
    = link_to "", '#'
    %figure.section__image
      = image_tag 'https://static.mercdn.net/item/detail/orig/photos/m71380649272_1.jpg?1558091299', class: 'item-image'
    .content
      %h3.content__title.font-2 お値下げ中！☆新品☆トートバッグ  キャンバス
      .item-box
        .item-box__price.font-5 ¥6,500
        .item-box__mask.font-2
          %i.far.fa-heart
          %span 12
      %p.content__lead (税込)

  %section.section
    = link_to "", '#'
    %figure.section__image
      = image_tag 'https://static.mercdn.net/item/detail/orig/photos/m71380649272_1.jpg?1558091299', class: 'item-image'
    .content
      %h3.content__title.font-2 お値下げ中！☆新品☆トートバッグ  キャンバス
      .item-box
        .item-box__price.font-5 ¥6,500
        .item-box__mask.font-2
          %i.far.fa-heart
          %span 12
      %p.content__lead (税込)

  %section.section
    = link_to "", '#'
    %figure.section__image
      = image_tag 'https://static.mercdn.net/item/detail/orig/photos/m71380649272_1.jpg?1558091299', class: 'item-image'
    .content
      %h3.content__title.font-2 お値下げ中！☆新品☆トートバッグ  キャンバス
      .item-box
        .item-box__price.font-5 ¥6,500
        .item-box__mask.font-2
          %i.far.fa-heart
          %span 12
      %p.content__lead (税込)

  %section.section
    = link_to "", '#'
    %figure.section__image
      = image_tag 'https://static.mercdn.net/item/detail/orig/photos/m71380649272_1.jpg?1558091299', class: 'item-image'
    .content
      %h3.content__title.font-2 お値下げ中！☆新品☆トートバッグ  キャンバス
      .item-box
        .item-box__price.font-5 ¥6,500
        .item-box__mask.font-2
          %i.far.fa-heart
          %span 12
      %p.content__lead (税込)
.more
  = link_to 'すべての商品を見る','#', class: 'btn'

