= render 'layouts/header'

.product-details
  = render 'render/bread-crumbs'
  .default-container
    .item-box-container
      .item-name
        レディース　大人フープ♡ピアス　ゴールド
        .item-box
          .item-photo
            .main-image
              = image_tag "sample_item_details.jpg", width: "300px", height: "300px";             
              .owl-dot
                = image_tag "sample_item_details2.jpg", width: "60px", height: "60px";
              .owl-dot
                = image_tag "sample_item_details2.jpg", width: "60px", height: "60px";
              .owl-dot
                = image_tag "sample_item_details2.jpg", width: "60px", height: "60px";
          .item-detail-table
            .tr
              .th 
                出品者
              .td 
                = link_to 'ユーザーネーム', '#', class: 'a'
            .tr
              .th カテゴリー
              .td 
                = link_to 'レディース', '#', class: 'a'
                %br
                %i.fas.fa-chevron-right
                = link_to 'アクセサリー', '#', class: 'a'
                %br
                %i.fas.fa-chevron-right  
                = link_to 'ピアス', '#', class: 'a'
            .tr
              .th ブランド
              .td 
                ブランド
            .tr
              .th 商品の状態
              .td 
                新品、未使用
            .tr
              .th 配送料の負担
              .td
                送料込み(出品者負担)
            .tr
              .th 配送の方法
              .td
                普通郵便(定形、定形外)
            .tr
              .th 配送元地域
              .td
                = link_to '大阪府', '#', class: 'a'
            .tr
              .th 発送日の目安
              .td
                1~2日で発送
      .item-price-box
        %span.item-price
          ￥ 350
        %span.item-tax
          (税込)
        %span.item-shipping-fee
          送料込み
        = link_to '購入画面に進む', '#', class: 'item-buy-btn'
      .item-description
        %p.item-description-inner
          ご覧頂きありがとうございます(*^-^*)
          %br
          インスタグラムでも人気のある大ぶりのフープピアスです。
          歩く度にゆらゆらと揺れて上品でエレガントな大人の女性を演出してくれます。
          フープ自体はとても薄くて軽いので無理なくお使い頂けます。
          華やかなデザインで、カジュアルな服装からフォーマルな服装まで幅広く、普段使いから結婚式などのパーティーにもオススメです
    .message-container
      .message-content
        .caution
          相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %textarea{type: "text", name: "message", class: "textarea"}
        %button{type: "submit", class: "message-submit"}
          .span コメントする
  = render 'layouts/footer'
