= render 'layouts/header'

.product-details
  - breadcrumb :item, @item
  = render 'render/bread-crumbs'
  .default-container
    .item-box-container
      .item-name
        = @item.name
        .item-box
          .item-photo
            .gallery
              = image_tag @item.images[0], class: 'owl', width: "300px", height: "300px";
              - @item.images.each do |image|
                = image_tag image, class: 'owl-dot', width: "60px", height: "60px";
          .item-detail-table
            .tr
              .th   
                出品者
              .td 
                = link_to "#{@item.seller.nickname}", '#', class: 'a'
            .tr
              .th カテゴリー
              .td 
                = link_to "#{@item.categories[0].name}", '#', class: 'a'
                %br
                %i.fas.fa-chevron-right
                = link_to "#{@item.categories[1].name}", '#', class: 'a'
                %br
                %i.fas.fa-chevron-right  
                = link_to "#{@item.categories[2].name}", '#', class: 'a'
            .tr
              .th ブランド
              .td 
                = link_to "#{@item.brand.name}", '#', class: 'a'
            .tr
              .th 商品の状態
              .td 
                = @item.item_status_i18n
            .tr
              .th 配送料の負担
              .td
                = @item.shipment.cost_payer_i18n
            .tr
              .th 配送の方法
              .td
                = @item.shipment.method_i18n
            .tr
              .th 配送元地域
              .td
                = link_to "#{@item.shipment.prefecture.name}", '#', class: 'a'
            .tr
              .th 発送日の目安
              .td
                = @item.shipment.days_i18n
      .item-price-box
        %span.item-price
          ￥
          = @item.price.to_s(:delimited, delimiter: ',')
        %span.item-tax
          (税込)
        %span.item-shipping-fee
          送料込み
      .item-edit
        -if @item.seller.id != current_user.id
          = link_to '購入画面に進む', item_path(params[:id]), class: 'item-buy-btn'  
        = render 'render/item-descliption'
      -if @item.seller.id == current_user.id
        = link_to "商品の編集", edit_item_path, class: 'edit-btn'
        = link_to "この商品を削除する", item_path(params[:id]), method: :delete, class: 'delete-btn'
    .message-container
      .message-content
        .caution
          相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %textarea{type: "text", name: "message", class: "textarea"}
        %button{type: "submit", class: "message-submit"}
          .span コメントする
  = render 'layouts/footer'
